@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
.about-tools ul li {
    text-align: center;
}

.break {
    clear: both;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .pull-right-sm {
        float: right !important;
    }
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
}

img {
    width: 100%;
}

body {
    height: 100%;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    background-color: #25b79f;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-x: hidden;
    border-radius: 25px;
}

h1,
h2,
h4 {
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    color: #07374a;
}

p {
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
}

body>.container-fluid {
    padding: 60px 15px 0;
}

.btn:focus,
a:focus {
    outline: none !important;
}

.navbar {
    height: 70px;
    background-color: transparent;
    background: transparent;
    border: none;
    color: #f0f0e6;
    z-index: 100;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-transition: background-color 1s ease 0s;
    transition: background-color 1s ease 0s;
}

.navbar-default .navbar-nav>li>a {
    color: #f0f0e6;
    font-weight: 500;
    font-size: 1em;
    text-transform: inherit;
    margin: 10px 5px 5px 5px;
    border-radius: 5px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
    color: #f0f0e6;
    border: 1px solid #f0f0e6;
}

.navbar-default .navbar-nav>li>a:visited {
    color: #f0f0e6;
    text-decoration: none;
}

.navbar-default .navbar-toggle {
    border-color: #f0f0e6;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #07374a;
}

.navbar-default .navbar-toggle .icon-bar {
    color: #f0f0e6;
    background-color: #f0f0e6;
}
div ul>div h2{ display: none}

/* Solid class attached on scroll past first section */

.cover {
    padding: 10% 0 10% 0;
}

.cover.top {
    padding: 15% 0 10% 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #25b79f;
}

.headline {
    padding-top: 6.25em;
}

@media screen and (min-width: 768px) {
    .headline {
        padding-top: 3.75em;
    }
}

@media screen and (min-width: 992px) {
    .headline {
        padding-top: 1.5625em;
    }
}

@media screen and (min-width: 1200px) {
    .headline {
        padding-top: 0px;
    }
}

#about {
    background-color: gold;
}

#about h2 {
    color: #25b79f;
}

.profile-img {
    margin-bottom: 15px;
    width: 120px;
}

.about-info,
.about-tools,
.about-last {
    padding: 4% 10% 1% 10%;
    font-size: 1.25em;
}

.about-tools {
    padding-top: 4.375em;
    font-weight: 700;
    font-size: 1.5em;
}

@media screen and (min-width: 992px) {
    .about-tools {
        padding-top: 5.625em;
    }
}

.about-tools ul:first-child {
    padding-left: 0px;
}

.about-tools ul {
    color: #25b79f;
    list-style: none;
}

.about-tools ul li {
    padding-top: 0.75em;
}

.about-last {
    padding-top: 3.125em;
    padding-bottom: 0;
    font-size: 1.125em;
}

@media screen and (min-width: 992px) {
    .about-last {
        padding-top: 0;
    }
}

.about-last p {
    color: #25b79f;
}

#portfolio {
    background-color: darkorange;
}

#portfolio h2 {
    padding-bottom: 1.25em;
}

@media screen and (min-width: 768px) {
    .portfolio-projects {
        margin-top: 0.625em;
    }
}

.portfolio-projects--title {
    margin-top: 0.9375em;
}

@media screen and (min-width: 768px) {
    .portfolio-projects--title {
        margin-top: 20%;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio-projects--title {
        margin-top: 5%;
    }
}

@media screen and (min-width: 768px) {
    .portfolio-projects--desc {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.portfolio-projects--btn {
    background: transparent;
    color: #07374a;
    border: 1px solid #07374a;
    border-radius: 5px;
    margin-bottom: 1.25em;
}

.portfolio-projects--btn:hover {
    background: #07374a;
    color: #f0f0e6;
}

.portfolio-projects--image {
    margin-bottom: 1.875em;
    padding-top: 5%;
}

                 
















.swipe {
  position: relative;
  text-align: center;
  height: 3em;
    font-weight: 100;
  font-size: 3vw;
    margin-top:500px;
    
}
.swipe .sentence {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  color: transparent;
}
.swipe .sentence .line-wrap {
  position: relative;
  display: block;
  width: 100%;
  color: transparent;
  -webkit-transition: color 1ms;
  transition: color 1ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.swipe .sentence .line-wrap:nth-child(2) {
  -webkit-transition-delay: 666.66667ms;
          transition-delay: 666.66667ms;
}
.swipe .sentence .line-wrap:nth-child(3) {
  -webkit-transition-delay: 833.33333ms;
          transition-delay: 833.33333ms;
}
.swipe .sentence .line-wrap:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #EBE8E1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.swipe .sentence--show {
  z-index: 2;
}
.swipe .sentence--show .line-wrap {
  color: #333;
}
.swipe .sentence--show .line-wrap:after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}
.swipe .sentence--show .line-wrap:nth-child(2):after {
  -webkit-transition-delay: 166.66667ms;
          transition-delay: 166.66667ms;
}
.swipe .sentence--show .line-wrap:nth-child(3):after {
  -webkit-transition-delay: 333.33333ms;
          transition-delay: 333.33333ms;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
